# JetBrains / CLion
.idea/

# CMake build directories
cmake-build-*/

# CMake build directory
build/
build-install/

# Fuzzing
fuzz/corpus_work/

# Archives
*.zip

# Tools
tools/

# Install
install/
install_test/